ul.navbar li {
    display: inline-block;
    background-color: darkseagreen;
    text-align: center;
    vertical-align: middle;
    padding: 1em 3em;
}

ul.navbar {
    height: 100%;
    width: auto;
}

nav#links {
    height: 5vh;
    background-color: aquamarine;
}

h1, h2, h3, p, figure {
    margin-left: 0.5em;
}

h1 {
    font-weight: bolder;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
address {
    font-style: italic;
}

article {
    margin: 1em;
    background-color: aquamarine;
    width: 65vw;
}

figure img {
    width: 30vh;
}

figure {
    border: black dashed 0.2vh;
    width: fit-content;
    height: fit-content;
}

figcaption {
    border-top: black dashed 0.2vh;
    font-style: italic;
}

p {
    text-indent: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

article nav {
    margin-left: 0.5em;
}

footer {
    height: 5vh;
    background-color: aquamarine;
}

footer div {
    display: inline-block;
    margin: 1em;
    margin-left: 3em;
}