img#emojiicon {
    display: inline-block;
    width: 30px;
}

input[type="submit"] {
    font-family: 'IBM Plex Serif', serif;
    display: inline-block;
    width: fit-content;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(2,255,129,1) 0%, rgba(29,199,62,1) 100%);
    border: darkseagreen;
    font-size: 20px;
    margin-bottom: 35px;
    padding: 4px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    vertical-align: center;
}

textarea {
    display: block;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'IBM Plex Serif', serif;
    overflow: auto;
    height: fit-content;
    min-height: 12em;
    resize: none;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 5px;
    position: relative;
    left: -2px;
}

span#coments-section-caption {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

section#comments {
    margin: auto;
    width: 80%;
}

span.postedby {
    display: inline-block;
    padding: 5px;
    font-weight: bolder;
    font-size: 15px;
}

span.postdate {
    display: inline-block;
    margin-left: 10px;
    color: grey;
    font-size: 15px;
}

span.postrating {
    display: inline-block;
    color: darkgray;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    float: right;
}

img.posteravatar {
    margin-left: 10px;
    width: 20px;
    clip-path: circle(10px at center);
    display: inline-block;
    position: relative;
    top: 4px;
}

span.comment-content {
    display: block;
    padding: 10px;
    font-size: 20px;
}

div.comment {
    background-color: hsla(0, 0%, 85%, 0.2);
    padding: 5px;
    margin-bottom: 10px;
    border-top: lightgrey solid 0.5px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5rem;
}

div.admin {
    background-color: hsla(216, 100%, 50%, 0.1);
    border-top: darkcyan solid 0.5px;
}

body {
    font-family: 'IBM Plex Serif', serif;
    width: 100%;
    background-image: url("triangle-mosaic.png");
}

div#userbar {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-end;
}

span#username {
    color: white;
    font-weight: bolder;
    padding-top: 15px;
}

img#avatar {
    width: 50px;
    clip-path: circle(20px at center);
}




article {
    border-radius: 5px;
    margin: auto;
    width: 80%;
    display: block;
    background-color: white;
    border: lightgrey solid 1px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px lightgrey;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    border-bottom: lightgrey solid 1px;
    width: fit-content;
}

h1 {
    font-weight: bolder;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 45px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h3 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
}

address {
    font-style: italic;
}

figure img {
    max-width: 50vw;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

figure {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

figcaption {
    font-style: italic;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: fit-content;
    border-bottom: lightgrey solid 1px;
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5em;
}
