article {
    margin: 20px;
    display: block;
    transition: box-shadow 0.5s;
}

h1, h2, h3 {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: none;
}

img {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    image-rendering: crisp-edges;
}

span.article-name {
    font-weight: 100;
    font-size: 35px;
    width: fit-content;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 20px;
}

span.centered {
    margin: auto;
    display: block;
}


.article-post-date {
    color: #3d3d3d;
}

:visited, :link {
    color: black;
    text-decoration-line: none;
}

article:hover {
    box-shadow: 0 0 15px black;
}

.read-more, .comment-count {
    font-size: 20px;
    font-weight: bold;
    color: #30799B;
}

.comment-count {
    float:right;
}

.content {
    display: flex;
}

#articles {
    width: 60%;
    margin: auto;
}

#sidebar {
    flex: 1;
}

article {
    width: 100%;
    height: fit-content;
}

.author-avatar {
    display: inline-block;
    height: 35px;
    border-radius: 50%;
    float: left;
}

#meta #post-info {
    float: left;
    display: inline-block;
    margin: 0;
    text-align: left;
    font-size: 16px;
}

#meta span {
    margin-left: 5px;
    display: block;
}

#meta {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.article-post-date {
    color: #3d3d3d;
}

#pages {
    display: flex;
    width: fit-content;
    margin: auto;
}

.pagesquare {
    display: inline-block;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    background-color: #000000;
    color: white;
    margin: 5px;
}

.content {
    display: block;
}

