article {
    border-radius: 5px;
    margin: 20px;
    display: block;
    background-color: white;
    border: lightgrey solid 1px;
    padding: 30px;
    box-shadow: 0 0 10px lightgrey;
    transition: box-shadow 0.5s;
}

h1, h2, h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 30px;
}

h1#tags-caption {
    text-align: left;
    margin-bottom: 25px;
    border-bottom: lightgrey solid 1px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

address {
    font-style: italic;
}

img {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    image-rendering: crisp-edges;
}

figure {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

figcaption {
    font-style: italic;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: fit-content;
    border-bottom: lightgrey solid 1px;
}

article p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5em;
}

strong {
    font-weight: bold;
}

article em {
    font-style: italic;
}

article ul {
    list-style: circle;
    list-style-position: inside;
}

article ol {
    list-style: decimal;
    list-style-position: inside;
}

span.article-name {
    font-weight: 100;
    font-size: 50px;
    width: fit-content;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 20px;
}

span.centered {
    margin: auto;
}


.article-post-date {
    color: #3d3d3d;
}

#edit-article {
    float: right;
    font-size: 20px;
    display: block;
}

iframe {
    display: block;
    margin: auto;
}

#edit-article:link, #edit-article:visited {
    color: black;
}

:visited, :link {
    color: black;
    text-decoration-line: none;
}

article:hover {
    box-shadow: 0 0 15px black;
}

.read-more, .comment-count {
    font-size: 20px;
    font-weight: bold;
    color: #30799B;
}

.comment-count {
    float:right;
}

.content {
    display: flex;
}

#articles {
    width: 60%;
    margin: auto;
}

#sidebar {
    flex: 1;
}

ul#tags li {
    margin-bottom: 5px;
}

article {
    width: 100%;
    height: fit-content;
}

.author-avatar {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    float: left;
}

#meta #post-info {
    float: left;
    display: inline-block;
    margin: 0;
    text-align: left;
    font-size: 16px;
}

#meta span {
    margin-left: 5px;
    display: block;
}

#meta {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.article-post-date {
    color: #3d3d3d;
}