body {
    font-family: 'IBM Plex Serif', serif;
    width: 100%;
    background-image: url("triangle-mosaic.png");
    min-height: 100vh;
}

header {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

div.content {
    min-height: 100vh;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: white;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 6px 16px;
    margin-bottom: 6px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: bolder;
}

.dropdown-content a:hover  {background-color: #39dda1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.navavatar img {
    margin-right: 5px;
    width: 20px;
    border-radius: 5px;
}

nav#links a {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    background-color: black;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    width: fit-content;
    vertical-align: middle;
}

nav#links {
    display: flex;
    vertical-align: middle;
    height: fit-content;
    flex: 2;
}

footer {
    height: fit-content;
    background-color: black;
    color: grey;
    display: flex;
    width: 100%;
}

footer div {
    display: inline-block;
    margin: 20px 20px 20px 50px;
}

div#footer-authorship {
    text-align: end;
    flex:1;
}

div#footer-about {
    flex:1;
}

button.dropdown-menu {
    padding: 0;
    background-color: black;
    position:relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    margin-right: 20px;
    display: inline-block;
}

div.userbar {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-end;
}