#main-banner {
    width: 100%;
    height: 35vh;
    background-image: url("bannerimage.jpg");
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#flex-panels {
    display: flex;
    height: 100%;
}

#about {
    background-color: white;
    height: fit-content;
    border: lightgrey solid 1px;
    box-shadow: 0 0 5px #c2c2c2;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

#avatar {
    display: block;
    border-radius: 15%;
    border: black solid 2px;
    margin: 0;
    margin-right: 10px;
    float: left;
}

#about-caption {
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

#about span {
    color: black;
    line-height: 1.4em;
}



#explore-button {
    width: fit-content;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 25px;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    margin: auto;
    border-radius: 5px;
    border: 0.5px solid black;
    transition: opacity 0.5s;
}

#explore-button:hover {
    opacity: 0.88;
}

:link {
    text-decoration-line: none;
    color: black;
}

#left-panel {
    flex: 2;
}

#right-panel {
    flex: 3;
}

div.content {
    min-height: 0;
    height: fit-content;
}

#recent-posts {
    height: fit-content;
}