#main-banner {
    width: 100%;
    height: 20vh;
    background-image: url("bannerimage.jpg");
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#about {
    background-color: white;
    height: fit-content;
    border: lightgrey solid 1px;
    box-shadow: 0 0 5px #c2c2c2;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

#avatar {
    display: block;
    border-radius: 15%;
    border: black solid 2px;
    margin: 0;
    margin-right: 10px;
    float: left;
    width: 15ch;
}

#about-caption {
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

#about span {
    color: black;
    line-height: 1.4em;
}



#explore-button {
    width: fit-content;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 25px;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    margin: auto;
    border-radius: 5px;
    border: 0.5px solid black;
    transition: opacity 0.5s;
}

#explore-button:hover {
    opacity: 0.88;
}

:link {
    text-decoration-line: none;
    color: black;
}

#left-panel, #right-panel {
    margin: 0 20px;
}


div.content {
    min-height: 0;
    height: fit-content;
}

#recent-posts {
    max-width: 80vw;
}

article {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    width: fit-content;
}

#about {
    margin: 0;
    margin-top: 20px;
    max-width: 80vw;
    width: fit-content;
    height: fit-content;
}

#flex-panels {
    display: flex;
    height: 100%;
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #flex-panels {
        flex-direction: column;
        align-items: center;
    }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    #flex-panels {
        flex-direction: row;
        justify-content: center;
    }
    #about {
        max-width: 30%;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    #flex-panels {
        flex-direction: row;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #flex-panels {
        flex-direction: row;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    #flex-panels {
        flex-direction: row;
    }
}

