div#settings {
    border-radius: 5px;
    min-width: fit-content;
    width: 30%;
    background-color: white;
    border: lightgrey solid 1px;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 0 10px lightgrey;
    display:block;
}

span.field-caption {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 5px;
    display: block;
}

input[type="submit"]{
    display: block;
    width: fit-content;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(2, 198, 106) 0%, rgb(19, 185, 58) 100%);
    border: darkseagreen;
    height: 1.6em;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
}

.input-container {
    position: relative;
    bottom: 40px;
    right: 20px;
}

.edit-icon {
    position: relative;
    left: 27px;
    bottom: 2px;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    border: black 2px solid;
}

input[type="password"], input[type="text"], input[type="email"], input[type="file"] {
    border-radius: 5px;
    border: lightgrey solid 1px;
    min-width: 250px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    font-weight: bolder;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"] {
    min-width: 0;
    width: 10px;
    height: 10px;
    z-index: 0;
    background-color: white;
    border: none;
    content: "edit";
    display: inline-block;
    opacity: 0;
}


form {
    border-radius: 5px;
    width: fit-content;
    display: block;
    background-color: white;
    margin: 20px auto;
}

form#password-or-email {
    padding: 20px;
    border: #d30001 solid 1px;
    font-weight: bold;
}

form#password-or-email input[type="submit"] {
    background: linear-gradient(180deg, rgb(244, 37, 32) 0%, rgb(250, 80, 111) 100%);
    font-weight: bold;
}

form#avatar-settings-form input[type=submit] {
    position: relative;
    bottom: 35px;
}


#settings-avatar {
    border-radius: 5px;
    border: black 1px solid;
}