header {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

div#settings {
    border-radius: 5px;
    min-width: fit-content;
    width: 30%;
    background-color: white;
    border: lightgrey solid 1px;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 0 10px lightgrey;
    display:block;
}

span.field-caption {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 5px;
    display: block;
}

input[type="submit"]{
    display: block;
    width: fit-content;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(2, 198, 106) 0%, rgb(19, 185, 58) 100%);
    border: darkseagreen;
    height: 1.6em;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
}

.input-container {
    position: relative;
    bottom: 40px;
    right: 20px;
}

.editicon {
    position: relative;
    left: 27px;
    bottom: 2px;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    border: black 2px solid;
}

input[type="password"], input[type="text"], input[type="email"], input[type="file"] {
    border-radius: 5px;
    border: lightgrey solid 1px;
    min-width: 250px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    font-weight: bolder;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"] {
    min-width: 0;
    width: 10px;
    height: 10px;
    z-index: 0;
    background-color: white;
    border: none;
    content: "edit";
    display: inline-block;
    opacity: 0;
}


form {
    border-radius: 5px;
    width: fit-content;
    display: block;
    background-color: white;
    margin: 20px auto;
}

form#password-or-email {
    padding: 20px;
    border: #d30001 solid 1px;
    font-weight: bold;
}

form#password-or-email input[type="submit"] {
    background: linear-gradient(180deg, rgb(244, 37, 32) 0%, rgb(250, 80, 111) 100%);
    font-weight: bold;
}

form#avatar-settings-form input[type=submit] {
    position: relative;
    bottom: 35px;
}

span#coments-section-caption {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

div.userbar {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-end;
}

#settings-avatar {
    border-radius: 5px;
}

button.dropdown-menu {
    padding: 0;
    background-color: black;
    position:relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    margin-right: 20px;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: white;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 6px 16px;
    margin-bottom: 6px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: bolder;
}

.dropdown-content a:hover  {background-color: #39dda1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.navavatar img {
    margin-right: 5px;
    width: 20px;
    border-radius: 5px;
}

nav#links a {
    text-align: center;
    font-size: 15px;
    margin-left: 20px;
    background-color: black;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    width: fit-content;
    vertical-align: middle;
}

nav#links {
    display: flex;
    vertical-align: middle;
    height: fit-content;
    flex: 2;
}

footer {
    height: fit-content;
    background-color: black;
    color: grey;
    display: flex;
}

footer div {
    display: inline-block;
    margin: 20px 20px 20px 50px;
}

div#footer-authorship {
    text-align: end;
    flex:1;
}

div#footer-about {
    flex:1;
}
