{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='article.css') }} type="text/css">
{% endblock %}
{% block title %}{{ articleName }}{% endblock %}
{% block content %}
    <article>
        <div id="meta">
            <img class="avatar author-avatar" src={{ url_for('static', filename=author['username']+'.jpg') }}>
            <p id="post-info">
                <span class="author-username">{{ author['username'] }}</span>
                <span class="article-post-date">{{ post_date.strftime("%b %d %Y %H:%M") }}</span>
            </p>
        </div>
        <span id="article-name">{{ articleName }}</span>
        {{ content }}
        {% if session['username'] == author['username'] %}
        <a id="edit-article" href="/edit/{{ article_id }}"><i class="fas fa-pen edit-icon"></i></a>
        {% endif %}
    </article>
    <section id="comments">
        <span id="coments-section-caption">
            Comments ({{ comments_number }})
        </span>

        {% for comment in comments %}
            <div class = "comment">
                <span class="comment-content">{{ comment["content"] }}</span>
                <img src={{ url_for('static', filename='{0}.jpg'.format(comment["username"])) }} class="avatar">
                <span class="postedby">{{ comment["username"] }}</span>
                <span class="postdate">{{ comment["datetime"].strftime("%b %d %Y %H:%M") }}</span>
                <span class="postrating">0</span>
            </div>
        {% endfor %}
        {% if session["username"] %}
            <form action="/comment" method="post">
                {{ form.content }}
                <input type="hidden" value="{{ form.article_id }}" name="article_id">
                <input type="submit" value="Comment">
            </form>
        {% endif %}
    </section>
{% endblock %}
{% block scripts %}
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='prettify_pre.js') }}></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}