{% extends "base.html" %}
{% block title %}Articles{% endblock %}
{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='article.css') }} type="text/css">
    <link rel="stylesheet" href={{ url_for('static', filename='articles.css') }} type="text/css">
{% endblock %}
{% block content %}
    <div id="articles">
        <article>
            <span class="article-name centered">Articles (All)</span>
        </article>
    {% for article in articles %}
        <article>
            <a target="_blank" href={{ url_for('view_article', article_id=article['id']) }}>
                <img class="avatar author-avatar" src={{ url_for('static', filename='avatars/'+article['author']+'.jpg') }} alt={{ article['author'] }}>
                <span class="article-name">{{ article['name'] }}</span>
                <div id="meta">
                    <p id="post-info">
                        <span class="article-post-date">{{ article['author'] }} posted on {{ article['date'].strftime("%b %d %Y %H:%M") }}</span>
                    </p>
                </div>
                <!--
                <img src=" {{ article['preview_image'] }}">
                -->
                <div class="content-preview">
                    {{ article['preview_content'] }}
                </div>
                <a href={{ url_for('view_article', article_id=article['id'])}}>
                    <span class="read-more">
                        Read More...
                    </span>
                </a>
                <span class="comment-count">
                    <i class="fas fa-comments"></i>
                    {{ article['comments_count'] }}
                </span>
            </a>
        </article>
    {% endfor %}
    </div>
    <div id="controls">
        <a href="{{ url_for('articles_page', page=current_page - 1) if not current_page == 1 }}">
            <div class="previous {{ 'disabled' if current_page == 1 }}">
                <span>⬅ Previous Page</span>
            </div>
        </a>
        <a href="{{ url_for('articles_page', page=current_page + 1) if not current_page == last_page }}">
            <div class="next {{ 'disabled' if current_page == last_page }}">
                <span>Next Page ➡</span>
            </div>
        </a>
    </div>
{% endblock %}
