<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{blogName}} - {{articleName}}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='reset.css') }} type="text/css">
    <link rel="stylesheet" href={{ url_for('static', filename='article.css') }} type="text/css">
</head>
<body>
    <header>
        <nav id="links">
            <ul class="navbar">
                <li>Home</li>
                <li>Sign Up</li>
                <li>Articles</li>
            </ul>
        </nav>
    </header>
    <article>
        {{ content }}
    </article>
    <footer>
        <div id="footer-about">
            Some Meaningful Text About the Project and people behind it
        </div>
        <div id="footer-authorship">
            2019-2019 Author (c)
        </div>
    </footer>
</body>
</html>