<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{blogName}} - {{articleName}}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='reset.css') }} type="text/css">
    <link rel="stylesheet" href={{ url_for('static', filename='article.css') }} type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src={{ url_for('static', filename='blog.png') }} id="logo">
        <nav id="links">
            <a href={{ url_for('index') }}>Home</a>
            {% if session["username"] %}
                <a href={{ url_for('signOut') }}>Sign Out</a>
            {% endif %}
            {% if not session["username"] %}
                <a href={{ url_for('signIn') }}>Sign In</a>
                <a href={{ url_for('signUp') }}>Sign Up</a>
            {% endif %}
        </nav>
        <div id="userbar">
            <span id="username">{{ session["username"] or "Anonymous" }}</span>
            <img src={{ url_for('static', filename='skeleton.jpg') }} id="avatar">
        </div>
    </header>
    <article>
        {{ content }}
    </article>
    <section id="comments">
        <span id="coments-section-caption">
            Comments ({{ comments_number }})
        </span>

        {% for comment in comments %}
            <div class = "comment">
                <span class="comment-content">{{ comment["content"] }}</span>
                <img src="skeleton.jpg" class="posteravatar">
                <span class="postedby">{{ comment["username"] }}</span>
                <span class="postdate">{{ comment["datetime"].strftime("%b %d %Y %H:%M") }}</span>
                <span class="postrating">0</span>
            </div>
        {% endfor %}
        {% if session["username"] %}
            <form action="/comment" method="post">
                {{ form.content }}
                <input type="hidden" value="{{ form.article_id }}" name="article_id">
                <input type="submit" value="Comment">
            </form>
        {% endif %}
    </section>
    <footer>
        <div id="footer-about">
            Some Meaningful Text About the Project and people behind it
        </div>
        <div id="footer-authorship">
            2019-2019 Author (c)
        </div>
    </footer>
</body>
</html>