<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} {% endblock %} - Trial Blog</title>
    <link rel="stylesheet" href={{ url_for('static', filename='reset.css') }} type="text/css">
    <link rel="stylesheet" href={{ url_for('static', filename='base.css') }} type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,400,400i,700,700i&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,700,700i&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e8a8e0bb5a.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ 'flash flash-{0}'.format(category) }}">{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <header>
        <nav id="links">
            <a>Home</a>
            <a>Articles</a>
        </nav>
        {% if session["username"] %}
            <a class="new" href="/submit">
                +
            </a>
        {% endif %}
            <div class="dropdown">
                {% if session["username"] %}
                     <div class="navavatar">
                         <img class="avatar" src={{ url_for('static', filename='{0}.jpg'.format(session['username'])) }}>
                     </div>
                {% endif %}
                {% if not session["username"] %}
                     <div class="navavatar">
                         <img class="avatar" src={{ url_for('static', filename='anonymous.png') }}>
                     </div>
                {% endif %}
                <button class="dropdown-menu"></button>
                <div class="dropdown-content">
                    {% if session["username"] %}
                        <a href={{ url_for("logout") }}>Sign Out</a>
                        <a href="{{ url_for("personal_settings") }}">Settings</a>
                    {% endif %}
                    {% if not session["username"] %}
                        <a href={{ url_for("login") }}>Sign In</a>
                        <a href={{ url_for("register") }}>Sign Up</a>
                    {% endif %}
                    <a href="#">Help</a>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
    {% block content %}{% endblock %}
    <script src={{ url_for('static', filename='base.js') }}></script>
    {% block scripts %}
    {% endblock %}
    </div>
    <footer>
        <div>
            Some Meaningful Text About the Project and people behind it
        </div>
        <div id ='footer-authorship'>
            2019-2019 Author (c)
        </div>
    </footer>
</body>
</html>