{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href={{ url_for('static', filename='delete.css') }} type="text/css">
{% endblock %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <img id="logo2" src={{ url_for('static', filename='blog.png') }}  width="50px">
    <div id="are-you-sure">
        <span class="dialogue">Are you sure you want to delete the article?</span>
        <span class="dialogue">This action is irreversible.</span>
        <form action="" method="post">
            <input type="submit" value="DELETE">
            <a id="back" href="{{ url_for("edit_article", article_id=form.article_id) }}">Back</a>
            <input type="hidden" value={{ form.article_id }}>
        </form>
    </div>
{% endblock %}