{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='settings.css') }} type="text/css">
{% endblock %}
{% block title %}Personal Settings{% endblock %}
{% block content %}
    <div id="settings">
        <div id="personal-settings">
            <form id="username-change-form" action="" method="post">
                <span class="field-caption">Username:</span>
                <input type="text" name="newusername">
                <input type="submit" value="Update Username">
            </form>
            <form id="avatar-settings-form" action="" method="post">
                <span class="field-caption">Avatar:</span>
                <img src="avatar2.jpg" width="256px" height="256px" id="settings-avatar">
                <div class="input-container">
                    <i class="fas fa-pen edit-icon"></i>
                    <input type="file" name="new-avatar-image">
                </div>
                <input type="submit" value="Update User Picture">
            </form>
        </div>
        <form id="password-or-email" action="" method="post">
            <span class="field-caption">Old Password</span>
            <input type="password" name="old-password">
            <span class="field-caption">New E-Mail</span>
            <input type="email" name="new-email">
            <span class="field-caption">New Password</span>
            <input type="password" name="new-password">
            <span class="field-caption">New Password (Confirm)</span>
            <input type="password" name="new-password-confirm">
            <input type="submit" value="Change Email or Password">
        </form>
    </div>
{% endblock %}