{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='settings.css') }} type="text/css">
{% endblock %}
{% block scripts %}
    <script src={{ url_for('static', filename='settings.js') }}></script>
{% endblock %}
{% block title %}Personal Settings{% endblock %}
{% block content %}
    <div id="settings">
        <div id="personal-settings">
            <form id="username-change-form" action="/settings/username" method="post">
                <span class="field-caption">Username:</span>
                {{ usernameform.new_username }}
                <input type="submit" value="Update Username">
            </form>
            <form id="avatar-settings-form" action="/settings/avatar" method="post" enctype="multipart/form-data">
                <span class="field-caption">Avatar:</span>
                <img class="avatar" src={{ url_for('static', filename='{0}.jpg'.format(session['username'])) }} width="256px" height="256px" id="settings-avatar">
                <div class="input-container">
                    <i class="fas fa-pen edit-icon"></i>
                    {{ avatarForm.newAvatar }}
                </div>
                <input type="submit" value="Update User Picture">
            </form>
        </div>
        <form id="password-or-email" action="/settings/user" method="post" novalidate>
            <span class="field-caption">Old Password</span>
            {{ emailOrPasswordForm.oldPassword }}
            <span class="field-caption">New E-Mail</span>
            {{ emailOrPasswordForm.newEmail }}
            <span class="field-caption">New Password</span>
            {{ emailOrPasswordForm.password }}
            <span class="field-caption">New Password (Confirm)</span>
            {{ emailOrPasswordForm.confirm }}
            <input type="submit" value="Change Email or Password">
        </form>
    </div>
{% endblock %}