{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='sign.css') }} type="text/css">
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
    <img id="logo" src={{ url_for('static', filename='blog.png') }} width="50px">
    <span id="signin-span">Sign up to Blog</span>
    <form action="" method="post" novalidate>
        <div id="formbody">
            {{ form.email.label }}
            {{ form.email }}
            {{ form.username.label }}
            {{ form.username }}
            {{ form.password.label }}
            {{ form.password }}
            {{ form.confirm.label }}
            {{ form.confirm }}
            <input type="submit" value="Sign In">
            <a href="restore">Forgot password?</a>
        </div>
    </form>
{% endblock %}